@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #212529;
    color: #fff;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 115%;
}

span {
    color: #ffb742;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
    margin-bottom: 2%;
}

.navbar h2 {
    color: #ffb742;
    font-weight: 600;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a {
    color: #ffb742;
}

.navbar ul li:last-child a {
    margin: 0;
}

.contact {
    background: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.btn {
    background: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.presentation-general {
    margin-top: 30px;
    margin-left: 48px;
}

.presentation-general h1 {
    color: #ffb742;
    margin-bottom: 15px;
}

.presentation-general p {
    margin-left: 2px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 20px;
    list-style: none;
    color: black;
}

.card {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 6rem rgba (black, 0.1);
}

.card--image {
    font-size: 6rem;
    line-height: 1;
}

.card--image img {
    height: 70px;
}